img {
  max-width: 100%;
}

body {
  font-family: sans-serif;
}
a {
  color: rgba(0,180,0,0.5);
  font-weight: bold;
  text-decoration: none;
}

code {
  background-color: #f5f2f0;
  font-family: Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
}

.highlighter-rouge {
  background-color: #f5f2f0;
}
.highlight {
  padding: 1em;
  margin: .5em 0;
  overflow: auto;
}

.sidebar {
  padding: 0.1em;
  padding-right: 1em;
  background-color: rgba(0,180,0,0.5);
  text-align: center;
}
.sidebar>.menu,.sidebar>.taglist {
  display: none;
}

.sidebar:hover > .menu, .sidebar:active > .menu,
.sidebar:hover > .taglist, .sidebar:active > .taglist {
  display: block;
  padding-bottom: 1em;
}

.menu:hover,.menu:active {
  display: block;
  padding-bottom: 1em;
}

.sidebar a  {
  color: black;
  display: block;
  padding-bottom: 0.2em;
}

.notes {
  display: block;
}

.content {

}

@media only screen and (min-width: 800px)  {
  a, .sidebar a {
    color: rgba(0,180,0,1);
    font-weight: bold;
  }
  .sidebar {
    height: auto;
    display: block;
    max-width: 25%;
    float: left;
    text-align: right;
    background-color: inherit;
  }
  .sidebar>h3 {
    display: none;
  }
  .sidebar>.menu,.sidebar>.taglist {
    display: block;
    margin-bottom: 1em;
  }
  .sidebar>*{
    border: 0.1em solid black;
    padding: 1em;
  }
  .taglist>strong{
    text-align: left;
  }
  .notes {
    text-align: right;
  }
  .content {
    float: left;
    max-width: 90%;
    width: 100%;
    padding-left: 0.5em;
    padding-bottom:1em; 
  }
  img {width: auto;}
}
