doctype
html
  head
    title Stisa's site
    meta(name='author', content='stisa')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel="stylesheet" href="main.css")
  body
    !=partial("/_partials/_header")
    !=partial("/_partials/_content")